.navbar {
    width: 100%;
    backdrop-filter: blur (10px);
    background-color: var(--shadow);
    
}

 .navbar .nav-link  {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: 5px 15px;
    transition: 0.3s ease;
    border-bottom: solid 2px transparent;
}

.navbar .nav-link:hover,
.navbar .nav-link:active {
    /* background-color: var(--yellow);
    border-radius: 5px; */
    color: var(--yellow);
    border-bottom: solid 2px var(--yellow);
    transition: 0.3s ease;
}