:root {
  --yellow: #fcc82b;
  --black: #000000;
  --white: #ffffff;
  --gray: #aaa;
  --shadow: rgba(0, 0, 0, 0.5);
  --font-size: 14pt;
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* Bootstrap */
  --bs-primary: var(--yellow);
  --bs-secondary: #b19645;
}

/* Reset: limpa stilo dos navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração de estilos para todo o site no Corpo(body) */
body {
  font-size: var(--font-size);
  font-family: var(--font-primary);
  margin-top: 65px;
  background-image: url(../../../public/imagem/bglogin.jpg);
  background-position: bottom center;
  background-size: contain;
}

/* Itens comuns no site */
/* .container {
  margin: auto;
  width: 100%;
  min-width: 360px;
  max-width: 1280px;
} */

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--black);
}